<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <!-- Mostrar mensajes flash -->
    {% with mensajes = get_flashed_messages() %}
      {% if mensajes %}
        <ul class="mensajes">
          {% for mensaje in mensajes %}
            <li class="flash-mensaje{% if 'incorrectas' in mensaje.lower() or 'existe' in mensaje.lower() %} flash-error{% endif %}">
              {{ mensaje }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="container">
        <h2>Inicio de Sesión</h2>
        <form method="POST" action="/login">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" required>

            <label for="contraseña">Contraseña</label>
            <input type="password" name="contraseña" required>

            <button type="submit">Iniciar sesión</button>
        </form>
        <a href="/registro">¿No tienes cuenta? Regístrate</a>
    </div>
</body>
</html>
