<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registo de usuario</h1>
    <form action="/registrar" method="post">
        <label for="usuario">Nombre de usuario:</label>
        <input type="text" name="usuario"> <br><br>

        <label for="contraseña">Contraseña:</label>
        <input type="password" name="contraseña"> <br><br>

        <button type="submit">Registrarse</button>
    </form>
    
</body>
</html>

